h1 {
    text-align: center;
    color: skyblue;
    text-underline-position: below;
}
p {
    text-align: center;
    color: black;
    font-style: oblique;
    font-weight: bold;
}
body {
    background-image: url(https://bit.ly/39A55Yb);
    background-repeat: no-repeat;
    background-size: 100%;
}
p {
    color: white;
}
label {
    color: white;   
}
